/* Created by: Anita Kay
* Created on: May 2022
* This CSS file defines the style for index.php
* ICS2O-Assign-04-PHP-IceCream
*/

body {
	background-color: #e0cae2;
}

h1, h2 {
	background-color: #bb86b4;
	color: #000000;
	padding: 40px;
	text-align: center;
  font-family: "Georgia", Times, serif;
}

p, h3, h4, h5, h6 {
  color: #000000;
  font-family: "Georgia", Times, serif;
}

div {
	
  font-weight: bold;
  color: #000000;
  background-color: #bb86b4;
  margin: 5px;
}

#display-results{
  background-color: #000000;
	font-size: 20px;
  font-family: "Georgia", Times, serif;
}